body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  color: white;
}

.buttonContainer {}

.spacer1 {
  padding: 20px;
}




/*////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/


#flash-message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.flash-message {
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-20px);
}

.flash-message.show {
    opacity: 1;
    transform: translateY(0);
}

.flash-message.success {
    background-color: #4CAF50;
}

.flash-message.error {
    background-color: #F44336;
}